{% style %}
.heShow {
    opacity: 1 !important;
    visibility: visible !important;
}

.he-box img {
    cursor: pointer;
}

.he-box {
    width: 60px;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    position: fixed;
    left: 40px;
    bottom: 40px;
    z-index: 9;
}

.he-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    display: flex;
    z-index: 9;
    align-items: center;
    justify-content: center;
}

.he-box .he-button:target {
    visibility: visible;
    opacity: 1;
}

.he-popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.he-popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.he-popup .he-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.he-popup .he-close:hover {
    color: #06D85F;
}

.he-popup .he-content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .he-popup {
        width: 70%;
    }
}
{% endstyle %}

<div class="he-box">
  <img src="{{ 'whatsapp.png' | file_url }}" id="hePopUp" />
</div>

<div id="hePopup1" class="he-overlay">
  <div class="he-popup">
    <a class="he-close" href="#">&times;</a>
    <div class="he-content">
      <a href="https://wa.me/+923084895184?text={{shop.url | escape }}{{ product.url | within: collection}}"
        class="btn btn--small btn--share ">
        <img src="https://url_of_the_uploaded_whatsapp_icon/filename.jpg" role="presentation" class="icon"
          style="width:18px; height:18px" title="share with whatsapp" alt="whatsapp_icon">
        <span class="share-title" aria-hidden="true">Whatsapp</span>
      </a>
    </div>
  </div>
</div>

<script>
const popupContainer = document.getElementsByClassName('he-box');
  const popup = document.getElementById('hePopup1');
const close = document.querySelector('.he-close')

  close.addEventListener('click',(e)=>{
    e.target.closest('#hePopup1').classList.remove('heShow')
  })
  for(let i = 0; i < popupContainer.length; i++){
  popupContainer[i].addEventListener('click',(e)=>{
    console.log(e.target.id)
    if(e.target.id == "hePopUp"){
      popup.classList.toggle('heShow')
    }
  })  
  }
  </script>