{% comment %} How to Use JSON Metafield In Liquid {% endcomment %}

{% assign variableName = product/collection/variant.metafields.metafieldName.value %} 
  {% for item in variableName %}
  
  <button class="accordion">{{ item.title }}</button>

  <div class="panel">
    <div class="cls-accr-panel-inner">
    {{ item.description }}
    </div>
  </div>
  {% endfor %}

{% comment %} How to Use JSON Metafield in Shopify Product/Collection/Variant {% endcomment %}
[
  {
    "title": "Categorize with Adjustable, Removable Dividers",
    "description": "Sort the item as you desire. Adjust or remove the divider panels according to size of products. Create the perfect space for each category"
  },
  {
    "title": "Double Flaps",
    "description": "No more cracked & crumbled palettes! The multi-Tasking Top Flap can hold your palettes, sheet masks, wipes and much more into different zipper pockets. The Main Lower compartment offers unmatchable organization by holding all your items in different slots. Your skincare will never get in the way of makeup. Everything is sorted and handy in the reach of your fingertips!"
  }
]