<form action="/cart/add" method="post" enctype="multipart/form-data" class="he-product-cart">
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
  <span>ADD TO CART</span>
</form>